header {
	background-color: #686868;
	height: 50px;
}

.layout {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	position: relative;
}

.header-row {
	margin-top: 20px;
	margin-bottom: 20px;
}

.btn-toolbar {
	float: right;
}

.btn {
	color: #ffffff;
}

.btn-secondary {
	background-color: #A0A0A0;
}

.card {
	height: 200px;
}

.fa.fa-trash-o {
	float: right;
}

i.fa {
    color: #A0A0A0;
}

i.fa:hover {
	cursor: pointer;
	margin-top: 2px;
}

.alert.alert-dismissable {
	position: absolute;
	right: 10px;
	top: 500px;
	width: 500px;
	transition: all .75s ease;
	z-index: 1000;
}


.taskTitle {
	color: #A0A0A0;
}

.headerTitle {
	color: #686868;
}